<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% endif %}">
    {% if product.id %}
        <input type="hidden" name="id" value="{{ product.id }}"/>
    {% endif %}
    <div>
        <label for="title">Name:</label>
        <input type="text" name="title" id="title" value="{{ product.title }}"/>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="{{ product.price }}"/>
    </div>
    <div>
        <label for="slug">Slug:</label>
        <input type="text" name="slug" id="slug" value="{{ product.slug }}"/>
    </div>
    <div>
        <label for="description">Product Description:</label><br/>
        <textarea rows="5" cols="20" name="description" id="description">{{ product.description }}</textarea>
    </div>
    <div>
        <label for="is_published">Is Published:</label>
        <input type="checkbox" name="is_published" id="is_published" value="true" {% if product.is_published %} checked="checked" {% endif %}/>
    </div>
    <div>
        <input type="submit"/>
    </div>
</form>